<!DOCTYPE html>
<html lang="en">
<head>
    <title>HelicopterShop</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="N-Air Responsive web template, Bootstrap Web Templates, Flat Web Templates, Andriod Compatible web template, Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design" />
    <script type="application/x-javascript"> addEventListener("load", function() {setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <meta charset utf="8">
    <!--fonts-->
    <link href='//fonts.googleapis.com/css?family=Fredoka+One' rel='stylesheet' type='text/css'>

    <!--fonts-->
    <!--bootstrap-->
    <link href="~/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <!--coustom css-->
    <link href="~/css/style.css" rel="stylesheet" type="text/css" />
    <link href="~/css/flexslider.css" rel="stylesheet" />
    <link href="~/css/form.css" rel="stylesheet" />
    <link href="~/css/jquery-ui.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" />

    <!--shop-kart-js-->
    <script src="~/js/simpleCart.min.js"></script>
    <!--default-js-->
    <script src="~/js/jquery-2.1.4.min.js"></script>
    <!--bootstrap-js-->
    <script src="~/js/bootstrap.min.js"></script>
    <!--script-->
    <script src="~/js/imagezoom.js"></script>
    <script src="~/js/jquery.flexslider.js"></script>
    <script src="~/js/site.js"></script>
    <script>
        // Can also be used with $(document).ready()
        $(window).load(function () {
            $('.flexslider').flexslider({
                animation: "slide",
                controlNav: "thumbnails"
            });
        });
    </script>
</head>
<body>
    <div class="header">
        <div class="container">
            <div class="header-top">
                <div class="logo">
                    <a asp-action="Index" asp-controller="Home">OUR-AIR</a>
                </div>
                <div class="login-bars">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <a class="btn btn-default log-bar" asp-action="Logout" asp-controller="Signin" role="button">Выход</a>
                    }
                    else
                    {
                        <a class="btn btn-default log-bar" asp-action="Registration" asp-controller="Signin" role="button">Регистрация</a>
                        <a class="btn btn-default log-bar" asp-action="Signin" asp-controller="Signin" role="button">Вход</a>
                    }
                    @if (User.Identity.IsAuthenticated)
                    {
                        foreach (var item in ViewBag.Person)
                        {
                            if (item.Email == User.Identity.Name)
                            {
                                <div class="cart box_1">
                                    
                                        <h3>
                                            <div class="total">
                                                <span>Баланс: @item.Balance &#8381;</span>
                                            </div>
                                        </h3>
                                    
                                    <p><a asp-action="Money" asp-controller="AddMoney" class="simpleCart_empty">Пополнить</a></p>
                                    <div class="clearfix"> </div>
                                </div>
                                break;
                            }

                        }

                    }

                </div>
                <div class="clearfix"></div>
            </div>
            <!---menu-----bar--->
            <div class="header-botom">
                <div class="content white">
                    <nav class="navbar navbar-default nav-menu" role="navigation">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        </div>
                        <div class="clearfix"></div>
                        <!--/.navbar-header-->

                        <div class="collapse navbar-collapse collapse-pdng" id="bs-example-navbar-collapse-1">
                            <ul class="nav navbar-nav nav-font">
                                <li class="dropdown">
                                    <a asp-action="Index" asp-controller="Home" class="dropdown-toggle">Начальная страница</a>

                                </li>
                                <li class="dropdown">
                                    <a asp-action="Shop" asp-controller="Home" class="dropdown-toggle">Список товаров</a>

                                </li>
                                
                                <div class="clearfix"></div>
                            </ul>
                            <div class="clearfix"></div>
                        </div>
                        <!--/.navbar-collapse-->
                        <div class="clearfix"></div>
                    </nav>
                    <!--/.navbar-->
                    <div class="clearfix"></div>
                </div>
                <!--/.content--->
            </div>
            <!--header-bottom-->
        </div>
    </div>
    @RenderBody()
    <div class="footer-grid">
        
        <div class="copy-rt">
            <div class="container">
                <p>&copy;   2022 OUR-AIR All Rights Reserved.</p>
            </div>
        </div>
    </div>
</body>
</html>
