<!--A Design by W3layouts
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->


<div class="header-end">
    <div class="container">
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <!-- Indicators -->
            <ol class="carousel-indicators">
                <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                <li data-target="#myCarousel" data-slide-to="1"></li>
                <li data-target="#myCarousel" data-slide-to="2"></li>
            </ol>

            <!-- Wrapper for slides -->
            <div class="carousel-inner" role="listbox">
                <div class="item active">
                    <div style="height: 362px; width: 750px;">
                        <img style="width:90%" src="~/images/Kvadro/11.jpg" alt="...">
                    </div>
                    <div class="carousel-caption car-re-posn">
                        <h3>AirMax</h3>
                        <h4>Почувствуй высоту</h4>
                        <span class="color-bar"></span>
                    </div>
                </div>
                <div class="item">
                    <div style="height: 362px; width: 750px;">
                        <img style="width:80%" src="~/images/Kvadro/24.jpg" alt="...">
                    </div>
                    <div class="carousel-caption car-re-posn">
                        <h3>AirMax</h3>
                        <h4>Почувствуй высоту</h4>
                        <span class="color-bar"></span>
                    </div>
                </div>
                <div class="item">
                    <div style="height: 362px; width: 750px;">
                        <img style="width:75%" src="~/images/Kvadro/51.jpg" alt="...">
                    </div>
                    <div class="carousel-caption car-re-posn">
                        <h3>AirMax</h3>
                        <h4>Почувствуй высоту</h4>
                        <span class="color-bar"></span>
                    </div>
                </div>

            </div>

            <!-- Controls -->
            <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left car-icn" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right car-icn" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
        <div class="clearfix"></div>
        <hr />

    </div>
</div>
<div class="feel-fall">
    <div class="container">
        <div class="pull-left fal-box">
            <div class=" fall-left">
                <h3 style="font-size: 35px;">Высота</h3>
                <img src="~/images/Kvadro/41.jpg" alt="/" class="img-responsive fl-img-wid">
                <p>Даже у взрослых <br> бывают детские мечты</p>
                <span class="fel-fal-bar"></span>
            </div>
        </div>
        <div class="pull-right fel-box">
            <div class="feel-right">
                <h3 style="font-size: 35px;">Скорость</h3>
                <img  src="~/images/Kvadro/62.jpg" alt="/" class="img-responsive fl-img-wid">
                <p>Даже у взрослых <br> бывают детские мечты</p>
                <span class="fel-fal-bar2"></span>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
<div class="shop-grid">
    <div class="container">
        @foreach (var item in ViewBag.Airs)
        {
            <div class="col-md-4 grid-stn simpleCart_shelfItem">
                <!-- normal -->
                <div class="ih-item square effect3 bottom_to_top">
                    <div class="bottom-2-top">
                        <div class="img"><img style="height: 200px;" src="@item.FirstPhoto" alt="/" class="img-responsive gri-wid"></div>
                        <div class="info">
                            <div class="pull-left styl-hdn">
                                <h3>@item.Name</h3>
                            </div>
                            <div class="pull-right styl-price">
                                <p><a href="#" class="item_add"><span class="glyphicon glyphicon-shopping-cart grid-cart" aria-hidden="true"></span> <span class=" item_price">@item.Price &#8381;</span></a></p>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
                <!-- end normal -->
                <div class="quick-view">
                    <form asp-action="Single" asp-controller="Home">
                        <input style="display:none" name="inputId" value="@item.Id" />
                        <input type="submit" value="Подробнее" />
                    </form>
                </div>
            </div>
        }


        
        <div class="clearfix"></div>
    </div>
</div>
