@model Helicopter.Models.SigninModel
<!-- login-page -->
<div class="login">
    <div class="container">
        <div class="login-grids">
            <div class="col-md-6 log">

                <h3>Вход</h3>
                <div class="strip"></div>
                <br />
                <form asp-controller="Signin" asp-action="Signin" asp-antiforgery="true">
                    <h5>Email:</h5>
                    <input asp-for="Email" type="text" value="">
                    <h5>Пароль:</h5>
                    <input asp-for="Password" type="password" value="" /><br />
                    <input type="submit" value="Войти">

                </form>
            </div>
            <div class="col-md-6 login-right">
                <h3>Не получается войти?</h3>
                <div class="strip"></div>
                <p>Возможно, у Вас просто нет аккаунта в нашем магазине. Попробуйте зарегистрироваться.</p>
                <a asp-action="Register" asp-controller="Signin" class="button">Перейти к регистрации</a>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<!-- //login-page -->